.advantages {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 28px 30px 11px 30px;
    border-bottom: solid 1px #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    width: 1300px;
    padding: 73px 40px 11px 40px;
    margin: 0 auto;
    margin-bottom: 21px;
    border: none;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -2px;
    left: 0;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--nutrients::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--meal::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--result::after {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: $tablet-width) {
    width: 354px;
    padding: 154px 150px 71px 0;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;

    &::after {
      width: 80px;
      height: 80px;
      top: 42px;
    }

    &:nth-child(2n) {
      padding: 154px 76px 71px 30px;

      &::after {
        left: 30px;
      }
    }

    &::before {
      position: absolute;
      top: 3px;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      text-align: center;
      z-index: -1;
    }

    &:nth-child(1)::before {
      content: "1";
      left: 118px;
    }

    &:nth-child(2)::before {
      content: "2";
      left: 141px;
    }

    &:nth-child(3)::before {
      content: "3";
      left: 113px;
    }

    &:nth-child(4)::before {
      content: "4";
      left: 143px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-right: 0;

    &:nth-child(2n) {
      padding-left: 0;
      padding-right: 0;

      &::after {
        left: 0;
      }
    }

    &:nth-child(2)::before {
      left: 111px;
    }

    &:nth-child(4)::before {
      left: 113px;
    }
  }
}
