.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 18px;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-left: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
  }
}

.main-nav__link {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 65px;
  font-weight: 500;
  text-decoration: none;
  color: #111111;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px #e6e6e6;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

  &--active:hover,
  &--active:focus,
  &--active:active {
    color: #111111;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    font-weight: 400;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;

    &--index {
      color: #ffffff;

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.6);
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }

      &--active:hover,
      &--active:focus,
      &--active:active {
        color: #ffffff;
      }
    }
  }
}

.main-nav__active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    &::after {
      bottom: -9px;
    }
  }
}

.main-nav__link--index .main-nav__active::after {
  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
