.main-page {
	margin-bottom: 35px;

	&--form {
		margin-bottom: 32px;
	}

	@media (min-width: $tablet-width) {
		margin-bottom: 76px;
	}
}

.main-page__title {
	margin: 0;
	padding: 15px 20px 28px 20px;
	font-size: 36px;
	line-height: 60px;
	color: #111111;
	font-weight: 400;
	border-bottom: solid 1px #ededed;

	&--form {
		padding-bottom: 11px;
		border: none;
	}

	@media (min-width: $tablet-width) {
		padding: 53px 30px 20px 30px;
		margin-bottom: 145px;
		font-size: 60px;
		line-height: 60px;
		border: none;
	}

	@media (min-width: $desktop-width) {
		padding: 188px 40px 20px 40px;
	}
}

.main-page__content-text {
	width: 230px;
	margin-bottom: 39px;
	padding: 0 70px 0 20px;
	font-size: 14px;
	line-height: 18px;
	color: #111111;
	text-transform: uppercase;
}
